<% content_for :head do%>
	<script type="text/javascript" charset="utf-8">	
		$(document).ready(function(){
			lw.launch();
		});
		
		// $(window).resize(function(){
		// 	console.log('resize');
		// })
		
		// function loadItemImages(query, column){
		// 		wrapper = $('#imgs-wrapper');
		// 		$.ajax({
		// 			url: API_DOMAIN+'/spiders/img_search.json?q='+encodeURI(query.split(' ').join('%20').replace(/&/g, "").replace(/>/g, "").replace(/</g, "").replace(/"/g, "")),
		// 			dataType: 'json',
		// 			beforeSend: function(){
		// 				$(wrapper).loading();
		// 			},
		// 			success: function(obj){
		// 				$(wrapper).empty().unloading();
		// 				$('<div id="imgs-title"></div>').html('Images suggested by <img src="/assets/google_logo.png">').appendTo(wrapper);			
		// 				for (i=0; i<column; i++){
		// 					$('<div id="imgs-column-'+i+'" class="imgs-column"></div>').appendTo(wrapper);
		// 				}
		// 				$.each(obj.data.slice(0,column*2), function(i,v){				
		// 					$('<img class="google-image">').attr('src',v).appendTo('#imgs-column-'+(i%column));
		// 				})
		// 			}
		// 		})
		// 	}
		
		var lw = {
			loaded: false,
			more: true,
			N: 3, //Math.round((document.width)/150)-1,
			curr: 0,
			offset: 0,
			limit: 8,
			w: 250,
			add: function(v){
				var wrapper = $('<a class="link"></a>').attr('href', "/links/"+v.linkname).appendTo('.col-'+lw.curr).hide();
				var name = $('<div class="link-name"></div>').html(v.title).appendTo(wrapper);
				// var created_at = $('<div class="link-created"></div>').html(v.created).appendTo(link);
				if (v.img!=null){
					var img = new Image();
					img.src = v.img;
					setTimeout(function(){
						var h = Math.round(lw.w*img.height/img.width);
						if (h > lw.w*1.5){
							h = lw.w;
						}					
						console.log('h='+h+' img='+v.img);
						if (h){
							$(wrapper).attr('style','min-height: '+h+'px;background-image:url('+v.img+');background-repeat:no-repeat;background-size:cover;');							
							console.log(h+" "+name.height());
							if(h < name.height()){
								wrapper.attr('style', 'height: '+(name.height()+10)+'px;');
							}
							$(name).addClass('with-img');						
						}
					}, 200)					
				}
				console.log(lw.curr+' id: '+v.id);
				lw.curr = (lw.curr+1)%lw.N;
				$(wrapper).fadeIn();

			},
			launch: function(){
				if (lw.N>8){
					lw.N=6;
				}
				$("#links").attr('style', 'width:'+(lw.w+10)*lw.N+'px;');
				for (var i=0;i<lw.N;i++){
					$('<div class="links-col"></div>').addClass('col-'+i).appendTo('#links');
				}
				lw.load();
				$(window).scroll(function (){
	                if (($(window).scrollTop() + $(window).height() >= $(document).height()) & lw.more & lw.loaded) {                     
						console.log('scroll to bottom');
	                    lw.load();
	                }
	            })
				
			},			
			load: function(){
				$.ajax({
					url: API_DOMAIN+'/links/index.json?offset='+lw.offset+'&limit='+lw.limit,
					dataType: 'json',
					beforeSend: function(){
						lw.loaded = false;
						loading();
					},
					success: function(obj){						
						console.log('loaded offset: '+lw.offset);
						$.each(obj.data, function(i,v){
							lw.add(v);
						})
						if (obj.data.length > 0){
							lw.offset += lw.limit;
							if ($('#links').height() < $(window).height()){
								lw.load();
							}							
						}else{
							lw.more = false;
						}
						lw.loaded = true;
						unloading();
					}
				});
			}
		}
	</script>
<% end %>

<div id="links">
</div>