<!DOCTYPE html>
<html>
<head>
  <title>DedicedWebAlpha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="non-footer">
		<div id="header-wrapper">
			<div id="header" class="wrapper">
				<div class="left-column">
					<img src='/assets/icon-dediced.png' id="icon-dediced">
				</div>
				<div class="center-column">
					
				</div>
				<div class="right-column">
					<ul id="user-bar">
					</ul>
				</div>
			</div>
		</div>
		<div id="content" class="wrapper">
			<div class="left-column">
			</div>
			<div class="left-column">
				<%= yield %>
			</div>
			<div class="left-column">
			</div>
		</div>
	</div>
	<div id="footer" class="wrapper">
		<div class="left-column">
			<div id="social-media">Follow us on
					<a href="https://plus.google.com/102627012757334564024" target="_blank"> <img src="/assets/dediced_gplus.png" height="30px"/></a>
					<a href="https://www.facebook.com/dediced" target="_blank"> <img src="/assets/dediced_facebook.png" height="30px"/></a>
					<a href="https://twitter.com/DedicedLLC" target="_blank"> <img src="/assets/dediced_twitter.png" height="30px"/></a>				
			</div>
		</div>
		<div class="center-column">
			<ul id="about-us">
				<li> <a class="text" href="http://blog.dediced.com/?page_id=17" target="_blank"> about </a></li>
				<li> <a class="text" href="http://blog.dediced.com/" target="_blank">blog</a></li>
				<li> <a id="feedback" class="text" href="mailto:info@dediced.com">contact</a> </li>								
			</ul>
		</div>
		<div class="right-column">
			<div id="copyright">Dediced LLC &copy 2011-2012</div>
		</div>
	</div>
			


</body>
</html>
